<h1>Metagenomics Binning Report for job [% job_id %]</h1>

<h2>Input data</h2>
[% IF params.contigs %]
Contigs file [% params.contigs %]
[% ELSE %]
Reads files [% params.paired_end_libs.1 %] and [% params.paired_end_libs.2 %]
[% END %]
<p>
<h2>Generated bins</h2>
The bins from this run have been placed into the genome group <em>
[% IF genome_group_path -%]
<a target="_blank" href="https://www.patricbrc.org/view/GenomeGroup[% genome_group_path %]#view_tab=genomes">[% params.genome_group %]</a>
[% ELSE -%]
[% params.genome_group %]
[% END -%]
</em>.<p>

The following bins met the quality criteria of CheckM completeness >= [% min_checkm %]% and 
fine consistency >= [% min_scikit %]%:<p>

<table class='p3basic'>
[% PROCESS qual_headers -%]
[% FOR g IN good -%]
[% PROCESS qual_row -%]
[% END -%]
</table>
<P>
The following bins did not meet the quality criteria:<p>

<table class='p3basic'>
[% PROCESS qual_headers -%]
[% FOR g IN bad -%]
[% PROCESS qual_row -%]
[% END -%]
</table>

<h2>Potentially Problematic Roles</h2>

The following roles in the bins have been flagged as potentially problematic.
<p>
<table class='p3basic'>
[% FOR p IN ppr -%]
<tr>
<td><a href="#ppr.[% p.genome_id %]">[% p.genome_id %]</a>
<td>[% p.ppr_count %] potentially problematic roles</td>
</tr>
[% END -%]
</table>
<p>

[% FOR p IN ppr -%]
<a name="ppr.[% p.genome_id %]">
<h3>Potentially problematic roles in [% p.genome_id %]</h3>
</a>
<table class='p3basic'>
<tr>
<th>Role</th>
<th>Predicted<br>count</th>
<th>Annotated<br>count</th>
<th>Feature link</th>
</tr>
[% FOR r IN p.roles %]
<tr>
<td style=''>[% r.role %]</td>
<td>[% r.predicted %]</td>
<td>[% r.actual %]</td>
[% IF r.n_fids > 0 -%]
<td><a target="_blank" href="[% r.fid_url %]">[% r.n_fids %] feature[% IF r.n_fids > 1 %]s[% END %]</a></td>
[% ELSE -%]
<td>[% r.n_fids %] features</td>
[% END -%]
</tr>
[% END -%]
</table>
<p>
<p>
[% END -%]

[% BLOCK qual_headers -%]
<tr>
<th>Genome ID</th>
<th>Genome Name</th>
<th>Reference Genome</th>
<th>Coarse consistency (%)</th>
<th>Fine consistency (%)</th>
<th>CheckM completeness (%)</th>
<th>CheckM contamination (%)</th>
<th>Contig count</th>
<th>DNA size (bp)</th>
<th>Contigs N50 (bp)</th>
<th>Potentially Problematic Roles</th>
</tr>
[% END -%]

[% BLOCK qual_row -%]
<tr>
<td><a target="_blank" href="[% g.genome_url %]">[% g.genome_id %]</a></td>
<td>[% g.genome_name %]</td>
<td>
[% FOR rg IN g.reference_genomes %]
<a target="_blank" href="[% rg.reference_url %]">[% rg.reference_genome %]</a>
[% END -%]
</td>
<td>[% g.scikit_coarse %]</td>
<td>[% g.scikit_fine %]</td>
<td>[% g.checkm_completeness %]</td>
<td>[% g.checkm_contamination %]</td>
<td>[% g.contigs %]</td>
<td>[% g.dna_bp %]</td>
<td>[% g.n50 %]</td>
<td><a href="#ppr.[% g.genome_id %]">[% g.ppr.roles.size %] roles</a></td>
</tr>
[% END -%]