<h1>Taxonomic Classification Report for job [% job_id %]</h1>

<h2>Input data</h2>
[% IF params.input_type == 'reads' %]
[% IF params.single_end_libs.size > 0 %]
Single-end libraries:
<ul>
[% FOR se IN params.single_end_libs %]
<li> <a target="_blank" href="https://www.bv-brc.org/workspace[% se.read %]">[% se.read %]</a>
[% END -%]
</ul>
<p>
[% END -%]

[% IF params.paired_end_libs.size > 0 -%]
Paired-end libraries:
<ul>
[% FOR pe IN params.paired_end_libs -%]
<li> <a target="_blank" href="https://www.bv-brc.org/workspace[% pe.read1 %]">[% pe.read1 %]</a>,
 <a target="_blank" href="https://www.bv-brc.org/workspace[% pe.read2 %]">[% pe.read2 %]</a>
[% END -%]
</ul>
<p>
[% END -%]

[% IF params.srr_ids.size > 0 -%]
SRA libraries:
<ul>
[% FOR sid IN params.srr_ids -%]
<li> <a target="_blank" href="https://www.ncbi.nlm.nih.gov/sra/[% sid %]">[% sid %]</a>
[% END -%]
</ul>
<p>
[% END -%]
[% ELSE -%]
Contigs: <a target="_blank" href="https://www.bv-brc.org/workspace[% params.contigs %]">[% params.contigs %]</a>
[% END -%]
<p>
<h2>Results (<a href="chart.html" target="_parent">Click here to view Interactive Chart</a>) </h2>
The top hits seen in the input data are as follows. This chart contains any taxonomy entry 
which has one percent or more of the total hits. The complete data may be found in the 
file <a href="report.txt" target="_blank">report.txt</a>. The output file
<a href="full_report.txt" target="_blank">full_report.txt</a> contains the same data but also includes
taxonomy entries for which there were zero hits.<p>
In addition, the output file 
<a href="[% kraken_output_file %]" target="_blank">[% kraken_output_file %]</a>
contains information about each input sequence. Documentation on this format is available
<a target="_blank" href="https://ccb.jhu.edu/software/kraken2/index.shtml?t=manual#standard-kraken-output-format">here</a>.<p>
<table border="1">
<tr>
<th>Pct Coverage</th>
<th>Frags in Clade</th>
<th>Frags in Taxon</th>
<th>Rank</th>
<th>NCBI Taxon ID</th>
<th>Scientific Name</th>
</tr>
[% FOR row IN top_hits -%]
<tr>
[% FOR elt IN row -%]
<td>[% elt %]</td>
[% END -%]
</tr>
[% END -%]
</table>
<p>
The columns contain data as follows:<p>
<ol>
<li>Percentage of fragments covered by the clade rooted at this taxon
<li> Number of fragments covered by the clade rooted at this taxon
<li> Number of fragments assigned directly to this taxon
<li> A rank code, indicating (U)nclassified, (R)oot, (D)omain, (K)ingdom,
   (P)hylum, (C)lass, (O)rder, (F)amily, (G)enus, or (S)pecies.
   Taxa that are not at any of these 10 ranks have a rank code that is
   formed by using the rank code of the closest ancestor rank with
   a number indicating the distance from that rank.  E.g., "G2" is a
   rank code indicating a taxon is between genus and species and the
   grandparent taxon is at the genus rank.
<li> NCBI taxonomic ID number
<li> Indented scientific name
</ol>
<p>
You may find documentation on the report format 
<a href="https://ccb.jhu.edu/software/kraken2/index.shtml?t=manual#sample-report-output-format" target="_blank">
in the kraken2 manual</a>.

<p>
The classification was performed by the <a target="_blank" href="https://ccb.jhu.edu/software/kraken2/index.shtml">
Kraken2 taxonomic sequence classification system</a>. The interactive chart was generated by
<a target="_blank" href="https://github.com/marbl/Krona/wiki">Krona</a>.
