session: "YAML"

template: "template_toolkit"
engines:
  session:
    YAML:
[% IF kb_service_log_dir -%]
      session_dir: "[% kb_service_log_dir %]/sessions"
[% ELSIF deployment_flag -%]
      session_dir: "[% kb_top %]/services/[% kb_service_name %]"
[% ELSE -%]
      session_dir: "./sessions"
[% END -%]
